<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/styles/style.css">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    </head>
    <body>
        <div id="container" class='container between-inside'>
            <div>
                <div class="d-flex justify-content-center mt-5">
                    <div class="card card-login-gmail" style="width: 25rem;">
                        <div class="card-body" style="display: flex; flex-direction: column; align-items: center; margin-top: 25%;">
                            <img src="/img/gmail-logo.png" style="width:50%; height:40%">
                            <button class='btn btn-primary' style="margin-top: 20px;">
                                <div id="btnIconLoading" class="spinner-border text-light" style="font-size: x-small; height: 1.5rem; width: 1.5rem;" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div id="btnTexLoading">
                                    Login
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="d-flex justify-content-center mt-2  mb-5">
                    <div class="card card-get-app" style="width: 18rem;">
                        <div class="card-body d-flex justify-content-center" style="padding: 0rem;">
                            Get the app
                        </div>
                        <div class="card-body d-flex justify-content-around" style="padding: 0rem;">
                            <img src="https://www.instagram.com/static/images/appstore-install-badges/badge_ios_portuguese-brazilian-pt_br.png/68006a2bb372.png" width="130" height="40">
                            &nbsp;&nbsp;
                            <img src="https://www.instagram.com/static/images/appstore-install-badges/badge_android_portuguese_brazilian-pt_BR.png/2f2a0c05b2f3.png" width="130" height="40">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <div class="card card-foot" style="width: 100%;">
                        <div class="card-body d-flex justify-content-center" style="padding: 0rem;">
                            <a href="#" class="card-link card-foot">About</a> 
                            <a href="#" class="card-link card-foot">Help</a> 
                            <a href="#" class="card-link card-foot">API</a>
                            <a href="#" class="card-link card-foot">Privacy</a>
                            <a href="#" class="card-link card-foot">Terms</a>
                            <a href="#" class="card-link">Forgot password?</a>   
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2  mb-5">
                    <div class="card card-foot" style="width: 100%;">
                        <div class="card-body d-flex justify-content-center" style="padding: 0rem;">
                            <select class="card-foot">
                                <option value="pt-br">Português (Brasil)</option>
                                <option value="en">English</option>
                            </select>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="card-link card-foot">
                                © 2021 Saulo McChelsom
                            </span>     
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="lottie" class='container await'>
            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_tszzqucf.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"    autoplay></lottie-player>
        </div>
    </body>
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-auth.js"></script>
    <!-- firebase Config -->
    <script src='/scripts/environment/environment.dev.js'></script>
    <!-- class -->
    <script src='/scripts/login.js'></script>
</html>